{% extends "../base.html" %}

{% block title %}

{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="/assets/css/ui/button.css">
{% endblock styles %}

{% block content %}
{% include "../_components/header.html" %}
<main>
<div class=" text-center ">
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <div class="row">
            <div class="col">
                <h1 class="my-4">Thank you for your reservation</h1>
                <p>We will contact you shortly</p>
                <i class="fas fa-check-circle"></i>
                <a href="/ " class="btn">Go Home</a>
            </div>
        </div>
    </div>
</div>
</main>
{% include "../_components/footer.html" %}
{% endblock content %}