{% extends "../base.html"%} {# Inherit the base.html page #}

{% block title %} Reserve {% endblock title%}

{% block content %}

{% include "../_components/header.html" %}

<main>
    <div class="container">
        <h1>Reserve now</h1>
        {# Contacts #}
        <hr>
        <div class="container">
            <form>

                <fieldset class="mb-3 row">
                    <legend class="col-form-legend col-4">
                        Contact Infos
                    </legend>
                    <div class="col-8">
                        <div class="mb-3">
                            <label for="txtName" class="form-label">Name</label>
                            <input type="text" name="txtName" id="txtName" class="form-control" placeholder="Your Name"
                                aria-describedby="txtNameHelpText" />
                            <small id="txtNameHelpText" class="text-muted">The name on the reservation</small>
                        </div>
                        <div class="mb-3">
                            <label for="txtEmail" class="form-label">Email</label>
                            <input type="email" name="txtEmail" id="txtEmail" class="form-control"
                                placeholder="Your email" aria-describedby="txtEmailHelp" />
                            <small id="txtEmailHelp" class="text-muted">The email that will be contacted </small>
                        </div>

                    </div>
                </fieldset>
                <fieldset class="mb-3 row">
                    <legend class="col-form-legend col-4">
                        Your event
                    </legend>
                    <div class="col-8">
                        <div class="mb-3">
                            <label for="txtEventDate" class="form-label">Date</label>
                            <input type="date" name="txtEventDate" id="txtEventDate" class="form-control"
                                placeholder="Your event's date" />
                        </div>
                        <div class="mb-3">
                            <label for="txtEventsDescription" class="form-label">Infos on your event</label>
                            <textarea class="form-control" name="txtEventsDescription" id="txtEventsDescription" placeholder="Tell us about your special event" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <span>Target Age range</span><br>
                            <div class="row">
                                <div class="mb-3 col">
                                    <label for="txtMinAgeRange" class="form-label">From </label>
                                    <input
                                        type="number"
                                        name="txtMinAgeRange"
                                        id="txtMinAgeRange"
                                        class="form-control"
                                        placeholder="Minimum age"
                                        min="21"
                                        value="35"
                                        aria-describedby="txtMinAgeRangeHelp"
                                    />
                                    <small id="txtMinAgeRangeHelp" class="text-muted">Minimum age range</small>
                                </div>
                                <div class="mb-3 col">
                                    <label for="txtMaxAgeRange" class="form-label">To </label>
                                    <input
                                        type="number"
                                        name="txtMaxAgeRange"
                                        id="txtMaxAgeRange"
                                        class="form-control"
                                        placeholder="Maximum age"
                                        max="120"
                                        value="40"
                                        aria-describedby="txtMaxAgerangeHelp"
                                    />
                                    <small id="txtMaxAgerangeHelp" class="text-muted">maximum age range </small>
                                </div>
                            </div>                            
                        </div>
                        
                    </div>
                </fieldset>

                <div class="mb-3 row">
                    <div class="offset-sm-4 col-sm-8 row">
                        <button class="btn col">Cancel</button>
                        <button type="submit" class="btn btn-primary col">
                            Next
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</main>

{% include "../_components/footer.html" %}
{% endblock content %}