{% extends "base.html" %}
{% import "_components/reserveCard.html" as components %}

{% block title %} Music {% endblock title%}

{% block styles %}
<link rel="stylesheet" href="/assets/css/ui/checkbox.css">
{% endblock styles %}

{% block content %}

{# {% include "_components/header.html" %} #}
<main class="container py-4">
    <h1 class="my-4">What Menu do you have in mind</h1>
    <form class="my-4 col" action="#">
        <div class="_card-grid p-5">
            {{components.reserveCard("Indian Menu","https://placehold.co/300x280/","id1")}}
            {{components.reserveCard("European Menu","https://placehold.co/300x280/","id2")}}
            {{components.reserveCard("Maurician Menu","https://placehold.co/300x280/","id3")}}
            {{components.reserveCard("French Menu","https://placehold.co/300x280/","id4")}}
        </div>

        <input type="submit" formaction="/reserve/music" class="btn btn-outline" value="Back">
        <input type="submit" class=" btn btn-primary" value="Next">
    </form>

</main>
{% include "_components/footer.html" %}

{% endblock %}