{% extends "base.html" %}
{% import "_components/reserveCard.html" as components %}

{% block title %} Music {% endblock title%}

{% block styles %}
<link rel="stylesheet" href="/assets/css/ui/checkbox.css">
<link rel="stylesheet" href="/assets/css/ui/button.css">
{% endblock styles %}

{% block content %}

{# {% include "_components/header.html" %} #}
<main class="container py-4">
    <h1 class="my-4">What Menu do you have in mind</h1>
    <form class="my-3 col" action="/reserve/dresscode.html">
        {# Hidden fields #}
        <input type="hidden" name="txtName" id="txtName" value="{{query.txtName}}">
        <input type="hidden" name="txtEmail" id="txtEmail" value="{{query.txtEmail}}">
        <input type="hidden" name="txtEventDate" id="txtEventDate" value="{{query.txtEventDate}}">
        <input type="hidden" name="txtEventsDescription" id="txtEventsDescription" value="{{query.txtEventsDescription}}">
        <input type="hidden" name="txtMaxAgeRange" id="txtMaxAgeRange" value="{{query.txtMaxAgeRange}}">
        <input type="hidden" name="txtMinAgeRange" id="txtMinAgeRange" value="{{query.txtMinAgeRange}}">

        <input type="hidden" name="optMusicChoice" id="optMusicChoice" value="{{query.optMusicChoice}}">
        {# End Hidden fields #}
        <div class="_card-grid p-5">
            {{components.reserveCard("Indian Menu","/assets/img/food/middle_eastern.jpg","optFoodMenu","indian",true)}}
            {{components.reserveCard("European Menu","/assets/img/food/dessert.jpg","optFoodMenu","european",true)}}
            {{components.reserveCard("Maurician Menu","/assets/img/food/thai.jpg","optFoodMenu","maurician",true)}}
            {{components.reserveCard("French Menu","/assets/img/food/brazilian.jpg","optFoodMenu","french",true)}}
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Special requests or allergies ?</label>
            <div class="mb-3">
                <label for="txtFoodSpecialRequest" class="form-label"></label>
                <textarea class="form-control" name="txtFoodSpecialRequest" id="txtFoodSpecialRequest" rows="1"></textarea>
            </div>
        </div>
        

        <button type="submit" formaction="/reserve/music">Back</button>
        <button type="submit" >Next</button>
    </form>

</main>
{% include "_components/footer.html" %}

{% endblock %}