{% extends "base.html"%} {# Inherit the base.html page #}


{% block title %} Test page {% endblock title%}

{% block content %}

{% include "_components/header.html" %}


<main class="container justify-content-center align-items-center ">
    <div class="row">
        <div class="col">
            <h1>Contact Us</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img width="100%" src="/assets/img/telephone.jpg" alt="">
        </div>
        <section id="contactus-form" class="col m-2">
            <form>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="username">Name:</label>
                            <i class="fas fa-user"></i>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="tel">Phone Number:</label>
                            <i class="fas fa-phone"></i>
                            <input type="tel" class="form-control" id="tel" name="tel">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="" for="email">Email:</label>
                        <i class="fas fa-envelope"></i>
                        <input class="form-control" type="email" id="email" name="email">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="reasons">Reasons:</label>
                        <textarea class="form-control" id="reasons" name="reasons" row="4"></textarea>
                    </div>
                </div>
                <button type="submit" class="my-2">Submit</button>
            </form>
        </section>
    </div>

</main>


{% include "_components/footer.html" %}
{% endblock content %}