{% extends "base.html"%} {# Inherit the base.html page #}


{% block title %} Test page {% endblock title%}

{% block content %}

{% include "_components/header.html" %}

<main>
  <section id="hero-section">

  </section>
  <section class="text-center justify-content-center align-items-center g-4 w-100 p-4 d-flex flex-column">
    <blockquote>
      <p>"Elevate your soirées to new heights with Royal Rendez-vous. Our bespoke reservation service ensures every
        event is a masterpiece of luxury and sophistication."</p>
      <footer>— Royal Rendez-vous Team</footer>
    </blockquote>

  </section>
  <section id="testimonial-carousel" class="testimonial carousel slide" data-bs-ride="carousel">
    <h2 class="text-center pt-4">They trusted us</h2>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class=" d-flex flex-column justify-content-center align-items-center text-center p-md-5">
          <p class="m-5 w-md-50">
            " Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, nemo doloremque. Possimus consectetur
            veritatis
            unde non cumque sapiente nostrum, quisquam rerum, assumenda, dolorem nemo animi? Ipsam itaque recusandae
            sapiente.
            Incidunt! "
          </p>
          <span> - A client</span>
        </div>
      </div>

      <div class="carousel-item active">
        <div class=" d-flex flex-column justify-content-center align-items-center text-center p-md-5">
          <p class="m-5 w-md-50">
            " Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, nemo doloremque. Possimus consectetur
            veritatis
            unde non cumque sapiente nostrum, quisquam rerum, assumenda, dolorem nemo animi? Ipsam itaque recusandae
            sapiente.
            Incidunt! "
          </p>
          <span> - A client</span>
        </div>
      </div>
      <!-- Add more carousel items here -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </section>
  <section class="d-flex flex-column justify-content-center align-items-center text-center p-5">
    <p>Have a question or ready to start planning your next event with Royal Rendez-vous? Contact us today!
      Our team is here to assist you every step of the way, ensuring your event is nothing short of extraordinary.
      Whether it's a grand soirée or an intimate gathering, we're dedicated to making your vision a reality.
    </p>
    <p>
      Feel free to reach out to us via phone, email, or by filling out the form below.
      We look forward to hearing from you!
    </p>
    <button class="btn">Contact Us</button>
  </section>
</main>

{% include "_components/footer.html" %}
{% endblock content %}