{% extends "base.html"%} {# Inherit the base.html page #}


{% block title %} Test page {% endblock title%}

{% block content %}

{% include "_components/header.html" %}

<main>
  <div class="container text-center">
    <h1>Services</h1>
    <section class=" text-start ">
      <h2>Catering Menus</h2>
      <hr>
      <div class="catalogue d-flex flex-column flex-md-wrap g-4 m-4">
        <div class="catalogue-item row-md col align-items-center g-2 p-2">
          <div class="col-md-4 row-4">
            <img src="assets/img/food/brazilian.jpg" width="100%" height="300" alt="">
          </div>
          <div class="col-md-8 row-8">
            <h2>Brazil Signature</h2>
            <p>
              Savor the essence of Brazil with our delectable selection of traditional dishes. 
              From succulent picanha grilled to perfection, to the comforting embrace of feijoada, each bite transports you to the heart of Brazilian culinary culture. 
              Experience the burst of flavors and vibrant colors that define Brazilian cuisine, where every dish is a celebration of tradition and taste.
            </p>
          </div>
        </div>

        <div class="catalogue-item row-md col align-items-center g-2 p-2">
          <div class="col-md-4 row-4">
            <img src="assets/img/food/middle_eastern.jpg" width="100%" height="300" alt="">
          </div>
          <div class="col-md-8 row-8">
            <h2>Middle Eastern Signature</h2>
            <p>
              Embark on a culinary journey through the enchanting flavors of the Middle East. 
              Indulge in the aromatic spices, vibrant herbs, and wholesome ingredients that define this rich and diverse cuisine. 
              From the smoky allure of grilled kebabs to the creamy decadence of hummus and falafel, each dish tells a story steeped in tradition and hospitality. 
              Immerse yourself in the warmth of Middle Eastern culture with every mouthwatering bite.
            </p>
          </div>
        </div>

        <div class="catalogue-item row-md col align-items-center g-2 p-2">
          <div class="col-md-4 row-4">
            <img src="assets/img/food/korean.jpg" width="100%" height="300" alt="">
          </div>
          <div class="col-md-8 row-8">
            <h2>Korean Signature</h2>
            <p>
              Delve into the exquisite flavors of Korean cuisine, a culinary adventure that tantalizes the taste buds with its bold and complex flavors. 
              From the fiery kick of kimchi to the savory satisfaction of bulgogi, each dish is a harmonious blend of tradition and innovation. 
              Experience the artistry of Korean cooking, where meticulous preparation and vibrant presentation elevate every meal into a sensory delight. 
              Prepare to be transported to the bustling streets of Seoul with every savory, spicy, and satisfying bite.
            </p>
          </div>
        </div>

        <div class="catalogue-item row-md col align-items-center g-2 p-2">
          <div class="col-md-4 row-4">
            <img src="assets/img/food/thai.jpg" width="100%" height="300" alt="">
          </div>
          <div class="col-md-8 row-8">
            <h2>Thai Signature</h2>
            <p>
              Seafood curry served in a coconut. 
              Delight in the exquisite blend of fresh seafood simmered in rich, creamy coconut milk, infused with fragrant herbs and spices. 
              Each spoonful transports you to the tropical shores of Thailand, where the bounty of the sea meets the lush abundance of the land. 
              Experience the harmony of flavors and textures in every mouthwatering bite, a true celebration of Thailand's culinary heritage.
            </p>
          </div>
        </div>

        <div class="catalogue-item row-md col align-items-center g-2 p-2">
          <div class="col-md-4 row-4">
            <img src="assets/img/food/dessert.jpg" width="100%" height="300" alt="">
          </div>
          <div class="col-md-8 row-8">
            <h2>Signature Tiramisu Dessert</h2>
            <p>
              Indulge in layers of delicate ladyfinger biscuits soaked in espresso and rum, enveloped in a velvety mascarpone cream and dusted with rich cocoa powder. 
              Each decadent spoonful is a symphony of flavors and textures, balancing the boldness of coffee with the creamy sweetness of mascarpone. 
              Experience the timeless elegance of this Italian classic, reimagined to perfection. 
              Tiramisu at its finest, crafted with love and served with a touch of indulgence.
            </p>
          </div>
        </div>

        <div class="catalogue-item row-md col align-items-center g-2 p-2">
          <div class="col-md-4 row-4">
            <img src="assets/img/food/drink.jpg" width="100%" height="300" alt="">
          </div>
          <div class="col-md-8 row-8">
            <h2>Orange Blossom Cocktail</h2>
            <p>
              Crafted with the finest oranges, this vibrant libation combines the zesty freshness of freshly squeezed orange juice with the subtle sweetness of orange liqueur. 
              Enhanced with a splash of premium vodka or gin, it's the perfect balance of tangy and tantalizing. 
              Served over ice and garnished with a twist of orange peel, every sip is a burst of sunshine in a glass. 
              Embrace the citrusy allure of the Orange Blossom cocktail and elevate your drinking experience to new heights.
            </p>
          </div>
        </div>

      </div>
    </section>
  </div>
</main>

{% include "_components/footer.html" %}
{% endblock content %}