<footer id="page-footer" class="row align-items-stretch p-md-2 py-4">
    <div class="col-md">
        <div class="d-flex flex-md-column-reverse flex-column col h-100">
            <div class="logo">
    
            </div>
            <p class="px-4">
                Copyright &copy; with ❤️ Team WebNinjas for the 24h by WebCup.
            </p>
        </div>
    </div>
    <div class="col-md">
        <div class="row h-100 w-100 align-items-center">
            <div class="col-md-4 row-4">
                <ul>
                    <li><a href="" class="link-light">Home </a></li>
                    <li><a href="" class="link-light">Services </a></li>
                    <li><a href="" class="link-light">About Us </a></li>
                    <li><a href="" class="link-light">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4 row-4">
                <ul>
                    <li><a href="" class="link-light">Soiree Mondaine </a></li>
                    <li><a href="" class="link-light">Professional Soiree </a></li>
                    <li><a href="" class="link-light">Catering </a></li>
                    <li><a href="" class="link-light">Place</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>