<header id="navBar">
    <nav class="navbar navbar-expand-md navbar-light ">
        <div class="container-fluid p-2">
            <a class="navbar-brand" href="/">
                <img src="/assets/img/logo-1.svg" alt="">
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="headerNavbar"">
            <ul class=" navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/" aria-current="page">Home
                        <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="/services">Services</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/contact-us">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-us">AboutUs</a>
                </li>
                <li class="nav-item">
                    <a href="/reserve" class="nav-link ">Reserve now</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>

</header>