<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid p-2">
            <a class="navbar-brand" href="/">Royal Rendez-Vous</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="headerNavbar"">
            <ul class=" navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/" aria-current="page">Home
                        <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/services" id="dropdownId" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Services</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Soirée Mondaine</a>
                        <a class="dropdown-item" href="#">Professional Soirée</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">AboutUs</a>
                </li>
                <li class="nav-item">
                    <a href="/reserve" class="nav-link btn ">Reserve now</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>

</header>